.music-header {
  display: flex;
  gap: 10px;
  list-style: none;
  background-color: aquamarine;
  padding: 10px;
}
.music-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.titleMain {
  text-align: center;
}
#register-form,
#login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.musicText {
  margin: 0px;
  text-align: center;
}
.card-title,
.card-text {
  text-align: center;
}
.music-card {
}
.card {
  overflow: hidden;
}
.ya-map {
  width: 100%;
  height: 250px;
  /* border-radius: 12px; */
}
.route-page {
  margin: 20px auto;
  width: 600px;
}
.container-profile,
.route-container,
.route-container {
  display: flex;
  justify-content: space-around;
}

.js-add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ratingStar {
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  line-height: 1;
}

.rating_body {
  position: relative;
}
.rating_body::before {
  content: '★★★★★';
  display: block;
}
.rating_active {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating_active::before{
  content: '★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: gold;
}
.rating_items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rating_item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating_value {
  font-size: 50;
  line-height: 1;
  padding: 0px, 0px, 0px, 10px;
}

[class*='copyrights-pane'] {
  display: none !important;
}
